body {
  display: flex;
  justify-content: center;
  font-family: Poppins;
}

.content {
  width: 800px;
  height: 1100px;
  background-color: #f2f2f2;
  display: flex;
}

/* ------------PERSONAL INFO-------------- */
.personal-info {
  width: 25%;
  height: 100%;
  background-color: #066163;
  color: white;
  font: 400 12px/15px Poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.before-div {
  height: 10px;
  width: 100%;
  background-color: #084d4e;
}

.academy,
.summary,
.languages,
.strengths {
  width: 100%;
}

.personal-info h2 {
  font-weight: 300;
  margin: 10px 19px;
}

.personal-info hr {
  width: 80%;
}

.personal-info ul {
  padding-inline-start: 24px;
}

.personal-info li {
  list-style-type: none;
  margin: 5px;
}

.personal-info span {
  font-weight: 600;
  font-size: 13px;
}

.main-content {
  width: 75%;
}

.picture {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.picture img {
  height: 130px;
}

.icons {
  height: 50px;
  margin: auto 0 40px;
}

.icons img {
  height: 40px;
  margin: 0 3px 0;
}

/* ------------MAIN CONTENT-------------- */

.main-content {
  margin: 50px;
}

.quick-info {
}

.quick-info h2 {
  font-weight: 600;
  line-height: 0;
  text-align: right;
  margin-top: 20px;
}

.quick-info h3 {
  font-weight: 400;
  color: #15c0cc;
  text-align: right;
  margin-bottom: 0;
}

.contact-info {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 25px;
  gap: 10px;
  font-size: 12px;
  margin: 10px 0 50px 0;
}

.contact-icon {
  height: 15px;
}

.experience li {
  line-height: 13px;
}

.experience h2 {
  font: 400 18px/18px Poppins;
  color: #383838;
  text-align: right;
}

.experience h4 {
  font-weight: 600;
  margin: 0 0 15px 0;
  line-height: 18px;
}
.experience li {
  font-size: 13px;
  list-style-type: none;
  padding-left: 0;
  margin: 2px 0;
}

.job-title-list {
  padding: 0;
  margin: 0;
}

.job-title {
  padding: 0;
  margin: 0;
}

.job-items {
  padding: 10px 40px;
}

.job-items li {
  line-height: 15px;
}

.company-div {
  padding-top: 40px;
}
